.sub_bg {
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.sub_bg .img_wrap {
  background: no-repeat center center / cover;
  height: 100vh;
  animation: subbg 2.5s forwards;
  position: absolute;
  top: 0;
  width: 100%;
}

.visualTxt{
   -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
  opacity:0;
}

.visualTxt .vtxt,
.visualTxt span{
    color:#fff;
    display:block;
}

.subBg00 .img_wrap {background-image: url('/mo/images/sub_bg/subBg00.jpg');}

.subBg01_01 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg01_01.jpg');}
.subBg01_02 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg01_02.jpg');}
.subBg01_03 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg01_03.jpg');}
.subBg01_04 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg01_04.jpg');}
.subBg01_05 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg01_05.jpg');}

.subBg02_01 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg02_01.jpg');}
.subBg02_02 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg02_02.jpg');}
.subBg02_03 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg02_03.jpg');}
.subBg02_04 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg02_04.jpg');}
.subBg02_05 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg02_05.jpg');}

.subBg03_01 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg03_01.jpg');}
.subBg03_02 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg03_02.jpg');}
.subBg03_03 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg03_03.jpg');}
.subBg03_04 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg03_04.jpg');}
.subBg03_05 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg03_05.jpg');}
.subBg03_06 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg03_06.jpg');}
.subBg03_07 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg03_07.jpg');}

.subBg04_01 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg04_01.jpg');}
.subBg04_02 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg04_02.jpg');}
.subBg04_03 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg04_03.jpg');}
.subBg04_04 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg04_04.jpg');}
.subBg04_05 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg04_05.jpg');}

.subBg05_01 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg05_01.jpg');}
.subBg05_02 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg05_02.jpg');}
.subBg05_03 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg05_03.jpg');}
.subBg05_04 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg05_04.jpg');}

.subBg06_01 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg06_01.jpg'); background-position:top center;}
.subBg06_04 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg06_04.jpg');}
.subBg06_05 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg06_05.jpg');}
.subBg06_06 .img_wrap {background-image: url('/new/mo/images/sub_bg/subBg06_06.jpg');}

.sub_bg .visualTxt { opacity:1; }
.sub_bg .visualTxt p { overflow:hidden; }
.sub_bg .visualTxt .vtxt span{

	animation: maintxtani 1s;
	animation-fill-mode: forwards;
	transform: translateY(-100%);
	opacity: 0;
	display:block;
}
.sub_bg .visualTxt .delay01 span{color:#fff; animation-delay: 1s; font-size:8vw ; letter-spacing:-0.06em; font-weight:800;}
.sub_bg .visualTxt .delay02 span{color:#fff; animation-delay: 1.3s; font-size:4vw; letter-spacing:-0.04em; font-weight:300; padding-top:4vw;}

.sub_wrap .sub_intro {padding:14vw 0;}
.sub_wrap .subTxt3 { font-weight:300;font-size:4vw; line-height:1.6; letter-spacing:-0.06em;}
.sub_wrap .bgColor1 {background:#f5f2ee;}
.sub_wrap .bgColor2 {background:#cab8a1;}
.sub_wrap .bgColor3 {background:url("/new/mo/images/sub/03/bgColor3.jpg")no-repeat center;background-size:cover;}
.sub_wrap .bgColor3 .sub_top h2 {color:#fff;}
.sub_intro .sub_top {text-align:center;}
.sub_intro .sub_top h2 {font-size:6.7vw; line-height:9.4vw; font-weight:300; letter-spacing:-0.06em;}
.sub_intro .sub_top h2 b {letter-spacing:-0.06em;}
.sub_intro .sub_top p {padding-top:4vw;}
.sub_intro .sub_top .imgTxt_wrap {margin:0 auto 2.7vw;}
.sub_intro .sub_top .imgTxt_wrap img {width:100%;}
.sub_intro .img_wrap img {width:100%;}

.sub_intro .bar_tit {padding-bottom:4vw; margin-bottom:4vw; position:relative;}
.sub_intro .bar_tit:after {content:''; display:block; width:6.7vw; height:2px; background:#ec7e00; position:absolute; bottom:0; left:50%; transform:translateX(-50%);}
.sub_intro .bar_tit h2 {font-size:5.4vw; line-height:7.4vw; text-align:center; letter-spacing:-0.06em;}
.sub_intro .bar_tit h2 b {font-weight:700; letter-spacing:-0.06em;}

.sub_intro .bar_tit_2color {padding-bottom:4vw; margin-bottom:4vw; position:relative;}
.sub_intro .bar_tit_2color:after {content:''; display:block; width:6.7vw; height:2px; background:url("/new/mo/images/sub/03/bar_tit_2color.jpg"); position:absolute; bottom:0; left:50%; transform:translateX(-50%);background-size:6.7vw}
.sub_intro .bar_tit_2color h2 {font-size:5.4vw; line-height:7.4vw; text-align:center; letter-spacing:-0.06em;}
.sub_intro .bar_tit_2color h2 b {font-weight:700; letter-spacing:-0.06em;}

.orange_color {color:#F40001;}

.sub02_s11 {position:relative;}
.sub02_s11:after {content:''; z-index:1; display:block; width:100%; height:70%; background:#f4f2ee; position:absolute; top:0; left:0;}
.sub02_s11 h1 {color:#fbf9f6;font-family: 'Montserrat', sans-serif; font-weight:900; z-index:2; position:relative; text-transform:uppercase;font-size:10vw; text-align:center;}
.sub02_s11 .video_wrap {position:relative;z-index:3; margin-top:-2.4vw;}
.sub02_s11 .video_wrap iframe {width:100%; height:50vw;}

.sub02_s12 .imgTxt_wrap {margin:0 auto;}
.sub02_s12 .imgTxt_wrap img {width:100%;}
.sub02_s12 .subTxt1 {font-weight:300; font-size:6.7vw; text-align:center; line-height:9.4vw; padding:2.7vw 0 6.7vw; letter-spacing:-0.08em;}
.sub02_s12 .subTxt1 b {letter-spacing:-0.08em;}
.sub02_s12 .txt_wrap {padding-top:6.7vw;  text-align:center;}

.sub02_s13 .list_wrap {padding-top:8vw}
.sub02_s13 .txt_wrap h1 {font-weight:700; font-size:4.7vw; padding:4vw 0 2.7vw;letter-spacing:-0.06em;}

.brownBgSectionTop { height:9.4vw;}
.brownBgSection {background:url("/new/mo/images/sub/02/brownBg.jpg")no-repeat center; background-size:cover;}
.brownBgSection .img_wrap {padding-bottom:10.7vw;}
.brownBgSection .img_wrap img {margin-top:-8vw;}

.sub_js_slide {background:url("/new/mo/images/sub/02/js_slide_bg.png")no-repeat center bottom; background-size:100%;}
.sub_js_slide .imgTxt_wrap {max-width:89vw; margin:0 auto;}
.sub_js_slide .sub_top p {font-size:3.4vw;line-height:4.7vw;font-weight:300;padding:5.4vw 0 6.7vw;}
.sub_js_slide .img_wrap + .img_wrap {padding-top:8vw}

.sub02_s21 {background:url("/new/mo/images/sub/02/02_s021_bg.jpg")no-repeat center bottom;}
.sub02_s21 .box_wrap {background:#fff; padding:6.7vw; border-radius:10px;border:2px solid #fff; box-shadow:0 0 13px rgba(158 144 132 / 13%);}
.sub02_s21 .box_wrap h1 {font-weight:700; font-size:4vw; line-height:6vw; letter-spacing:-0.08em;}
.sub02_s21 .box_wrap h1 span {color:#de8330;}
.sub02_s21 .box_wrap p {color:#575757; padding-top:4vw; word-break:keep-all; letter-spacing:-0.08em;}
.sub02_s21 .box_wrap + .box_wrap {margin-top:4vw;}

.sub02_s22 .img_wrap {padding:8vw 4vw 0;}

.sub02_s31 .img_wrap {padding:8vw 0 6.7vw;}
.sub02_s31 p.subTxt3 {text-align:center; word-break:keep-all;}

.sub02_s32 .sub_top {padding-bottom:6.7vw;}
.sub02_s32 .img_wrap + .img_wrap {margin-top:2.7vw;}

.sub02_s33 .box {margin-top:6.7vw;}
.sub02_s33 .box strong {font-size:4vw; font-weight:700; padding:2.7vw 0; display:block;background:#de8330; text-align:center; color:#fff;}
.sub02_s33 .box--bg {padding:4vw;background:#fcfbfa; box-shadow:0 0 9px rgba(202 183 163 / 46%);}
.sub02_s33 .img img {width:100%;}
.sub02_s33 .txt li {position:relative; padding:4vw 0;}
.sub02_s33 .txt li span {position:relative; display:inline-block; padding-left:4vw;}
.sub02_s33 .txt li span:before {content:''; display:block; width:3vw; height:3vw; 
background:url("/new/images/sub/03/02_img05_chk.png")no-repeat center; position:absolute; top:1.5vw; left:0;}
.sub02_s33 .txt li:after {content:''; display:block; width:100%; height:1px; background:url("/new/images/sub/02/03_img_line.png")repeat-x center; position:absolute; bottom:0; left:0;}

.sub02_s34 .img_wrap {margin:8vw 0;}
.sub02_s34 .roundBox {text-align:center; padding:3vw 0; background:#fff; margin-bottom:2.7vw;border-radius: 10vw; box-shadow:0 0 9px rgba(202 183 163 / 46%);}
.sub02_s34 strong.roundBox { border-radius: 10vw; padding:2.7vw 0; color:#fff; font-size:4.7vw;font-weight:700;background:#504843; display:block; box-shadow:initial;}

.sub02_s35 .Accordion_wrap {padding-top:8vw;}
.sub02_s35 .que:first-child{border-top: 1px solid #bfbfbf;}
.sub02_s35 .que{position: relative;padding: 4vw 0;cursor: pointer;font-size: 3.4vw;font-weight:500; line-height:1;border-bottom: 1px solid #bfbfbf;}
.sub02_s35 .anw {display: none;overflow: hidden; background-color: #fdfcfb;padding: 4.7vw 2.7vw; border-bottom:1px solid #bfbfbf;}
.sub02_s35 .anw strong {color:#de8330; display:block;font-size:3.4vw; font-weight:500; padding-bottom:2.7vw;}
.sub02_s35 .anw span {font-size:2.5vw; font-weight:350;}
.sub02_s35 .arrow-wrap {position: absolute; top:50%; right: 2.7vw; transform: translate(0, -50%);}
.sub02_s35 .que .arrow-top {display: none;}
.sub02_s35 .que .arrow-bottom {display: block;}
.sub02_s35 .que.on .arrow-bottom {display: none;}
.sub02_s35 .que.on .arrow-top {display: block;}
.sub02_s35 .arrow-wrap img {width:3.4vw;}

.sub02_s41 .brown {background:#574941; color:#fff; margin-bottom:4vw ;}
.sub02_s41 .beige {background:#f5f2ee; margin-bottom:4vw ; box-shadow:0 0 16px rgba(202 183 163 / 46%);}
.sub02_s41 .box {margin-top:6.7vw;}

.sub02_s42 .txt_wrap .flex-box {display:flex;}
.sub02_s42 .txt_wrap .box {width:50%;}
.sub02_s42 .box {background:#fff; box-shadow:0 0 13px rgba(97 89 84 / 22%);position:relative; padding:9.4vw 6.7vw 6.7vw;}
.sub02_s42 .box + .box {margin-left:2.7vw;}
.sub02_s42 .flex-box + .flex-box {margin-top:4vw;}
.sub02_s42 .box span {position:absolute; top:1.1vw; left:1.1vw;font-family:'NanumSquare', sans-serif;font-size:3.4vw; font-weight:700;color:#fff; z-index:2;}
.sub02_s42 .box span:before {content:''; display:block; width:12vw; height:12vw; background:url("/new/images/sub/02/04_img04_num.png")no-repeat center; position:absolute; top:-1.1vw; left:-1.1vw; z-index:-1; background-size:cover;}
.sub02_s42 .box h1 {font-size:4vw; line-height:1; font-weight:700;padding-bottom:10px;}
.sub02_s42 .box p {color:#4d4d4d; letter-spacing:-0.06em;}
.sub02_s42 .img_wrap {padding:6.7vw 0 5.4vw;}

.sub02_sec01 .flex-box {display:flex;}
.sub02_sec01 .boxlist {flex-direction:column; text-align:center; background:#fcfbfa; border-radius:10px; width:50%; padding:6.7vw 0 8vw; box-shadow:0 0 7px rgba(96 89 85 / 22%);}
.sub02_sec01 .boxlist.fullWidth {width:100%;}
.sub02_sec01 .boxlist.whiteBg {background:#fff;}
.sub02_sec01 .boxlist + .boxlist {margin-left:2.7vw;}
.sub02_sec01 .boxlist .img_wrap {margin:0 auto 2.7vw; width:4vw;}

.sub02_sec02 .boxlist {background:#fcfbfa; border-radius:10px; display:flex;flex-direction:column;justify-content:center; padding:6.7vw 5.4vw; box-shadow:0 0 13px rgba(96 89 85 / 10%);}
.sub02_sec02 .boxlist + .boxlist  {margin-top:40px;}
.sub02_sec02 .boxlist strong {color:#de8330; font-size:2.7vw; font-weight:900;}
.sub02_sec02 .boxlist h1 {font-size:4.7vw; font-weight:500; padding:2.7vw 0 1.4vw;}
.sub02_sec02 .boxlist .link_go {color:#ea7f2a;font-size:3.4vw;font-weight:700;padding-right:3.4vw;position:relative;}
.sub02_sec02 .boxlist .link_go:after {content:''; display:block; width:2.1vw; height:2.1vw; background:url("/new/images/main/link_go_hover.png")no-repeat center; position:absolute; top:1.4vw; right:0;}
.sub02_sec02 .boxlist a {text-align:right; margin-top:4vw;}

.subTab .tab {display:flex; flex-wrap:wrap; gap:2.7vw; padding:8vw 0;}
.subTab .tab button {width:calc(50% - 1.4vw);background-color: #dfdcd8;
  border: none;
  outline: none;
  cursor: pointer;
  font-size:3.8vw;
  padding:2.7vw 0;
  text-align:center;
  font-weight:500;
  color:#8d8681;
  border-radius:5vw;
}
.subTab .tab button.active {background:#ec7e00; color:#fff;}
.subTab .tabcontent {display: none;border: 0;}

.sub02_s51 .sub_top {padding-bottom:9.4vw;}
.sub02_s51 .list_wrap h1 {font-size:4.7vw; font-weight:700; padding:5.4vw 0 2.7vw;}
.sub02_s51 .list_wrap + .list_wrap {padding-top:8vw}

.sub03_s11 .twoSection {padding-top:8vw;}
.sub03_s11 .flex_box {display:flex; justify-content:space-between;}
.sub03_s11 .left, .sub03_s11 .right {width:calc(50% - 1.4vw);}
.sub03_s11 .twoSection h2 {font-weight:500; color:#fff; font-size:4.7vw; padding:2.7vw 0; text-align:center;}
.sub03_s11 .left h2 {background:#d6801e;}
.sub03_s11 .right h2 {background:#409da4;}
.sub03_s11 .twoSection ul {background:#fff; box-shadow:0 0 7px rgba(96 89 85 / 22%); padding:2.7vw 0; height:calc(100% - 10vw);}
.sub03_s11 .twoSection li {text-align:center; padding:1.7vw 0;}
.sub03_s11 .twoSection li span {position:relative; display:inline-block; padding-left:2.1vw; letter-spacing:-0.08em;}
.sub03_s11 .twoSection li span:before {content:''; display:block; width:1vw; height:1vw; border-radius:50%;  position:absolute; top:2.1vw; left:0;}
.sub03_s11 .twoSection .left span:before {background:#ec7e00;}
.sub03_s11 .twoSection .right span:before {background:#409da4;}
.sub03_s11 .tabcontent p.subTxt3 {text-align:center; word-break:break-word}

.sub03_s11 .bar_tit_2color {padding-top:5.4vw;}

.sub04_s11 .img_wrap {padding:8vw 0;}
.sub04_s11 .animated-title {font-size: 13.5vw;font-family: "Montserrat", sans-serif; font-weight: 900; color: #f7f6f5; position: relative; text-transform: uppercase; width: 100%; max-width: 100%; margin: 2.7vw 0; height: 15vw; line-height: 1; overflow-x: hidden; overflow-y: hidden;}
.sub04_s11 .animated-title .track {position: absolute; top: 0; white-space: nowrap; will-change: transform; animation: marquee 60s linear infinite;}

.sub04_s12 .sub_top {text-align:left;}
.sub04_s12 .sub_top h2 {font-family: 'Montserrat', sans-serif; font-weight:900; letter-spacing:-0.02em; color:#333;}
.sub04_s12 .sub_top p {padding-top:1vw;}
.sub04_s12 .click--btn ul { border-top: 1px solid #959492; margin-top:6.7vw;}
.sub04_s12 .click--btn ul li {counter-increment: tabNumber;border-bottom: 1px solid #959492;}
.sub04_s12 .click--btn ul li .nav-link {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 3.4vw;
	font-weight: 500;
	padding: 3.4vw 0;
	cursor:pointer;
	line-height:1;
}

.sub04_s12 .click--btn ul li .nav-link::before {
	content: counter(tabNumber,decimal-leading-zero);
	font-family:'NanumSquare', sans-serif;
	font-size: 2.5vw;
	padding-right: 2.7vw;
	margin-top:2px;
}

.sub04_s12 .click--btn ul li .nav-link::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 2px;
	display: inline-block;
	width:2.1vw; height:2.1vw;
	background:url("/new/images/sub/04/01_arrow1.png")no-repeat center;
	background-size:cover;
	transform:translateY(-50%);
	/*
	transform:translateY(-50%) rotate(320deg);
	*/
	-webkit-transition: .2s;
	transition: .2s
}

.sub04_s12 .click--btn ul li .nav-link.current::after {
	width: 2.7vw;
	height: 1.6vw;
	background:url("/new/images/sub/04/01_arrow_active.png")no-repeat center;
	background-size:cover;
	/*
	transform:translateY(-50%) rotate(360deg);
	*/
}
.sub04_s12 .click--content h1 {font-weight:700; font-size:4.7vw; padding:5.4vw 0 2.7vw;}
.sub04_s12 .content--wrap {padding-top:14vw;}

.sub04_s13 .sub_top h2.eng {font-family: 'Montserrat', sans-serif; font-weight:700; color:#f5f2ee; font-size:10.7vw;}
.sub04_s13 .sub_top h2.kor {margin-top:-3.7vw;}

.sub04_s41 {background:url("/new/mo/images/sub/04/04_img02_bg.jpg")no-repeat center; background-size:cover;}
.sub04_s41 .img_wrap.top {text-align:center; padding:7.4vw 0 5.4vw}
.sub04_s41 .img_wrap.top img {max-width:65vw;}

.sub04_s42 {background:url("/new/mo/images/sub/04/05_img_Bg.jpg")no-repeat center; background-size:cover;}
.sub04_s42 .sub_top h2 {color:#fff; }
.sub04_s42 .flex-box {display:flex;flex-wrap:wrap;}
.sub04_s42 .box {width:50%; box-sizing:border-box; text-align:center; border:1px solid rgba(128 128 127 / 13%); padding:8vw 0;}
.sub04_s42 .box.none {border:0;}
.sub04_s42 .box.right {border-top:0; border-right:0;}
.sub04_s42 .box.left {border-bottom:0; border-left:0;}
.sub04_s42 .box h2 {font-size:3.8vw; line-height:5.4vw; color:#fff; padding-top:2.7vw;}
.sub04_s42 .icon img {max-width:10vw;}

.sub04_s43 {background:url("/new/mo/images/sub/04/04_img04_bg.jpg")no-repeat bottom center; background-size:100%;} 

.sub04_s52 {background:url("/new/mo/images/sub/05/02_img04_Bg.jpg")no-repeat center; background-size:cover;}

.sub05_s11 {background:url("/new/mo/images/sub/05/01_img04_Bg.jpg")no-repeat center; background-size:cover;}
.sub05_s11 .sub_top h2 {color:#fff;}
.sub05_s11 .flex-box {display:flex;flex-wrap:wrap;}
.sub05_s11 .box {width:50%; box-sizing:border-box; text-align:center; border:1px solid rgba(128 128 127 / 13%); padding:8vw 0;}
.sub05_s11 .box.none {border:0;}
.sub05_s11 .box.right {border-top:0; border-right:0;}
.sub05_s11 .box.left {border-bottom:0; border-left:0;}
.sub05_s11 .box h2 {font-size:3.8vw; line-height:5.4vw; color:#fff; padding-top:2.7vw;}
.sub05_s11 .icon img {max-width:10vw;}

.sub05_s21 .img_wrap {padding-left:5.4vw;}
.sub05_s21 .bar_tit {text-align:center; padding-top:8vw;}
.sub05_s21 .bar_tit img {max-width:84vw;}
.sub05_s21 p {text-align:center; word-break:keep-all; padding:0 2.7vw}

.sub05_s31 {background:url("/new/mo/images/sub/05/03_img04_Bg.jpg")no-repeat center; background-size:cover;}
.sub05_s31 .sub_top h2 {color:#fff;}
.sub05_s31 .flex-box {display:flex; justify-content:center;}
.sub05_s31 .flex-box.bottom {padding-top:10.7vw;}
.sub05_s31 .flex-box .box {width:33.3%; text-align:center;}
.sub05_s31 .flex-box h2 {font-size:3.8vw; line-height:5.4vw; padding-top:2.7vw; color:#fff;}
.sub05_s31 .icon img {max-width:10vw;}

.sub05_s41 {background:url("/new/mo/images/sub/05/04_img04_Bg.jpg")no-repeat center; background-size:cover;}
.sub05_s41 .sub_top h2 {color:#fff;}
.sub05_s41 .flex-box {display:flex; justify-content:center;}
.sub05_s41 .flex-box.bottom {padding-top:10.7vw;}
.sub05_s41 .flex-box .box {width:33.3%; text-align:center;}
.sub05_s41 .flex-box h2 {font-size:3.8vw; line-height:5.4vw; padding-top:2.7vw; color:#fff;}
.sub05_s41 .icon img {max-width:10vw;}

.sub06_s31 {background:url("/new/mo/images/sub/06/03_img_bg.jpg")no-repeat center;background-size:cover;}
.sub06_s32 {background:url("/new/mo/images/sub/06/03_img_bg2.jpg")no-repeat top center;background-size:cover; overflow-x:hidden;}
.sub06_s32 .sub_top h2 {color:#fff; padding-bottom:9.4vw;}
.nav-tour-slider {margin:0 20px;}
.nav-tour-slider .navWrapper {display:flex;}
.nav-tour-slider .navWrapper li {color:#bbbbbb; font-size:3.4vw; letter-spacing:-0.04em; font-weight:400; line-height:1; margin-bottom:6.7vw; cursor:pointer; width:auto;}
.nav-tour-slider .navWrapper li + li {margin-left:9.4vw;}
.nav-tour-slider .navWrapper li.active-text .txt {position:relative; display:inline-block;font-weight:500; color:#fff;}
.nav-tour-slider .navWrapper li.active-text .txt:after {content:''; display:block; width:100%; height:1px; background:#fff;position:absolute; bottom:-5px; left:0;}
.tour-slider {padding-bottom:8vw;}
.tour-slider .swiper-slide {width:85%; position:relative;}
.tour-slider .swiper-slide img {width:100%;}
.tour-slider .swiper-scrollbar {max-width:1200px; left:50% !important; bottom:0; width:100%; height:4px; transform:translateX(-50%);background:#3e3934;}
.tour-slider .swiper-scrollbar-drag {background:#ec7e00;bottom:-8vw; position:relative;}

.sub06_s33 {background:#120f0e;}
.sub06_s33 .sub_top h2 {color:#fff;}
.sub06_s33 .map_section {width:100%; height:54vw; margin:0 0 8vw;}
.sub06_s33 .map_section .root_daum_roughmap .wrap_controllers {display:none;}
.sub06_s33 .map_section .root_daum_roughmap_landing {width:100%;}
.sub06_s33 .map_section .root_daum_roughmap .wrap_map {height:54vw;}

.sub06_s41 {background:#252322;}
.sub06_s41 .sub_top h2 {font-size:10.7vw;}
.sub06_s41 .sub_top h2 b{font-family: 'Montserrat', sans-serif; font-weight:700; text-transform:uppercase; letter-spacing:0; color:#fff; }
.sub06_s41 .subTxt3 {color:#fff;}
.sub06_s41 .subTxt3 b {font-weight:500;}
.sub06_s41 .list_wrap h1 {font-weight:500; color:#e26f2f; font-size:4.7vw; padding-bottom:2.7vw; border-bottom:2px solid #f3670a; margin-bottom:4vw;}
.sub06_s41 .list_wrap .box {background:#353331; border-radius:2.1vw; padding:5.4vw 4vw;}
.sub06_s41 .list_wrap {padding-top:8vw;}
.sub06_s41 .list {padding-top:8vw;}
.sub06_s42 {background:url("/new/mo/images/sub/06/04_img_bg.jpg")no-repeat top center; background-size:cover;}
.sub06_s42 .sub_top h2 {font-size:9.4vw; color:#fff; text-transform:uppercase;}
.sub06_s42 .sub_top h2 b {letter-spacing:0;font-family: 'Montserrat', sans-serif;}
.sub06_s42 .img_wrap {padding-top:6.7vw;}
.sub06_s42 .txt_wrap {display:flex; padding-top:4vw}
.sub06_s42 .txt_wrap span {color:#db6729; font-family:'NanumSquare', sans-serif; font-size:2.1vw; display:inline-block; padding-right:2.1vw; margin-top:1.1vw;}
.sub06_s42 .txt_wrap h1 {color:#fff; font-weight:700; font-size:4.7vw;}
.sub06_s42 .btn_sec {margin-top:12vw; text-align:center;}
.sub06_s42 .btn_sec a {display:inline-block; font-size:3.4vw; color:#fff; border:1px solid #c7c6c6; padding:4vw 6.7vw; border-radius:8vw;}

.subBg06_01 {position:relative;}
.subBg06_01 .visualTxt .delay01 span {font-size:4vw; font-weight:300;}
.subBg06_01 .visualTxt .delay02 span {font-size:10.7vw; font-weight:900;font-family: 'Montserrat', sans-serif;}
.subBg06_01 .scrolldown  {position:absolute; left:50%; transform: translateX(-50%); bottom:0; width:2px; 
background:rgba(255 255 255 / 50%); z-index:4; height:95px;}
.subBg06_01 .scrolldown p {font-size:15px; color:#fff; font-weight:300; transform:translateX(-50%) rotate(90deg); position:absolute; bottom:112px; left:50%;margin-left:3px;}
.subBg06_01 .scrolldown span {display:block; position:absolute; width:2px; background:#fff; height:100%; animation : scrolldown-bar infinite 2.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);}
@keyframes scrolldown-bar { 0% { top: 0;
    bottom: 100%;
    height: 0; }
  30% { top: 0;
    bottom: 100%;
    height: 100%; }
  31% { top: 0%;
    bottom: 100%; }
  60%, 100% { top: 100%;
    bottom: 0;
    height: 0%; } }

.sub06_11 .img_wrap {position:relative; padding:50% 0 30%;}
.sub06_11 {background:#1f1c19}
.sub06_11 .comment_wrap {position:absolute; top:50%; left:0; transform:translateY(-50%); margin-top:-36%; display:none;}
.sub06_11 .comment_wrap.active {display:block;}
.sub06_11 .comment_wrap img {width:100%;}
.sub06_11 .link_wrap {position:absolute; top:50%; left:2%; transform:translateY(-50%); margin-top:-6%;}
.sub06_11 .link_wrap button {background:transparent; max-width:4.6vw;}

.sub01_s11 {background:url("/new/mo/images/sub/01/01_bg.png")no-repeat bottom center ; background-size:100%;}
.sub01_s11 .imgTxt_wrap {margin:0 auto;}
.sub01_s11 .imgTxt_wrap img {width:100%;}
.sub01_s11 .subTxt1 {font-weight:300; font-size:6.7vw; text-align:center; line-height:9.4vw; padding:2.7vw 0 6.7vw; letter-spacing:-0.08em;}
.sub01_s11 .subTxt1 b {letter-spacing:-0.08em;}
.sub01_s11 .txt_wrap {padding-top:6.7vw;  text-align:center;}

.sub01_s12 {background:url("/new/mo/images/sub/01/01_img02_bg.jpg")no-repeat center; background-size:cover;}
.sub01_s12 .sub_top h2 {color:#fff;}
.sub01_s12 .flex-box {display:flex; justify-content:center;}
.sub01_s12 .flex-box.bottom {padding-top:10.7vw;}
.sub01_s12 .flex-box .box {width:33.3%; text-align:center;}
.sub01_s12 .flex-box h2 {font-size:3.8vw; line-height:5.4vw; padding-top:2.7vw; color:#fff;}
.sub01_s12 .flex-box h2 span {color:#9c9c9c;}
.sub01_s12 .icon img {max-width:10vw;}
.sub01_s13 .sub_top h2 {text-align:left; font-size:7.4vw ;}
.sub01_s13 .sub_top h2 b {font-family: 'Montserrat', sans-serif;text-transform:uppercase;}
.sub01_s13 .txt_wrap h1 {font-size:4.7vw;padding:5.4vw 0 2.7vw;font-weight:700;} 
.sub01_s13 .list_wrap + .list_wrap {padding-top:6.7vw}
.sub01_s14 {background:#f0e9de;}

.sub01_s21 {background:#f4f2ee;}
.sub01_s22 .txt_wrap {padding:5.4vw 0 4vw;}
.sub01_s22 .txt_wrap h1 {font-weight:350;font-size:4.7vw;text-align:center;}
.sub01_s22 .txt_wrap h1 b {font-weight:700;}
.sub01_s22 p.subTxt3 {text-align:center;}
.sub01_s22 .hasTag {display:flex; justify-content:center; padding-top:5.4vw;}
.sub01_s22 .hasTag span {display:inline-block; color:#d27d2d; font-size:3.4vw;border:1px solid #d27d2d;padding:1.4vw 2.1vw 1.6vw; border-radius:30px; letter-spacing:-0.08em; text-align:center;} 
.sub01_s22 .hasTag span + span {margin-left:1.4vw;}
.sub01_s22 .list_wrap + .list_wrap {padding-top:8vw ;}

.sub01_s31 {background:#f4f2ee;}
.sub01_s31 .img_wrap + .img_wrap {padding-top:6.7vw;}
.sub01_s32 .sub_top h2 {text-align:left; font-size:6.7vw;}
.sub01_s32 .list_wrap h1 {font-size:4.7vw; letter-spacing:-0.06em; font-weight:700;padding:4vw 0 2.7vw} 
.sub01_s32 .list_wrap + .list_wrap {padding-top:6.7vw}
.sub01_s33 {background:#f4f2ee;}
.sub01_s33 .flex-box {display:flex; flex-wrap:wrap;}
.sub01_s33 .flex-box .img_wrap {flex:0 0 calc(50% - 2.1vw);margin-bottom:4vw; box-shadow:0 3px 7px rgba(226 218 201 / 67%);}
.sub01_s33 .flex-box .img_wrap:nth-child(2n){margin-left:2.1vw;}
.sub01_s33 .flex-box .img_wrap:nth-child(2n+1){margin-right:2.1vw;}

.sub01_s41 {background:url("/new/mo/images/sub/01/04_img02_bg.jpg")no-repeat center;}
.sub01_s41 .sub_top h2 {color:#fff;}

.sub01_s51 .img_wrap + .img_wrap {padding-top:2.7vw;}

.sub01_s52 .txt_wrap h1 { line-height:7.4vw; padding:5.4vw 0 3.4vw}
.sub01_s52 .txt_wrap p.subTxt3 {text-align:left;}
.sub01_s52 .txt_wrap h1 b{font-size:5.4vw;}
.sub01_s52 .tabcontent .txtt h1 {font-size:4.7vw; font-weight:700; padding:8vw 0 5.4vw;}
.sub01_s52 .tabcontent .txtt h1 span {color:#de8330;}
.sub01_s52 .tab {justify-content:center;}
.sub01_s52 .tab button {width:28vw; padding:2vw 0 2.4vw;font-size:3.8vw; font-weight:500;background:#f5f2ee;color:#b2a89a}
.sub01_s52 .txt_wrap2 .flex-box {display:flex;}
.sub01_s52 .txt_wrap2 .flex-box span {display:inline-block; background:#f9f7f4;color:#423d3a;font-size:3.4vw; font-weight:500; width:33.3%;padding:6.7vw  0; text-align:center; border-radius:20vw; box-shadow:0 3px 7px rgba(175 166 147 / 23%);}
.sub01_s52 .txt_wrap2 .flex-box span + span {margin-left:2.7vw}
.sub01_s52 .txt_wrap4 .img_wrap + .img_wrap {padding-top:2.7vw;}

.sub06_s13 {background:#1f1c19;}
.sub06_s13 .sub_top h2 {color:#fff;}
.sub06_s13 .img_wrap {margin-bottom:8vw;}
.sub06_s13 .img_wrap img {width:100%;}
.sub06_s13 .list:nth-child(2n) {padding-left:11vw;}
.sub06_s13 .list:nth-child(2n+1) {padding-right:11vw;}
.sub06_s13 .number_line {display:flex; align-items:center;}
.sub06_s13 .number_line .current {color:#f8f8f8;font-family:'NanumSquare', sans-serif;font-size:2.7vw;font-weight:700;}
.sub06_s13 .number_line .line {display:inline-block; width:12vw; margin:0 1.4vw; background:#d4d4d4; height:1px;}
.sub06_s13 .number_line .total {color:#b6b6b6; font-family:'NanumSquare', sans-serif;font-size:2.7vw;}
.sub06_s13 .txt_wrap h3 {color:#fff;font-size:5.4vw; line-height:7.4vw;font-weight:700; padding:6.7vw 0;}
.sub06_s13 .txt_wrap p {color:#f8f8f8;}
.sub06_s13 .list + .list {padding-top:13.5vw;}
.sub06_s13 .left--padding {padding-left:5.4vw;}

.sub06_s14 .link_wrap {text-align:center; padding:15vw 0 12vw;}
.sub06_s14 .link_wrap.link1 {background:url("/new/mo/images/sub/06/01_img4_link1.png")no-repeat center; background-size:cover;}
.sub06_s14 .link_wrap.link2 {background:url("/new/mo/images/sub/06/01_img4_link2.png")no-repeat center; background-size:cover;}
.sub06_s14 .link_wrap h1 {font-size:6.7vw; font-weight:300; color:#fff;}
.sub06_s14 .link_wrap a {font-size:2.5vw; color:#fff; display:inline-block;padding:2.4vw 4vw 2.7vw; border:1px solid #b6b6b6; border-radius:8vw; margin-top:6.7vw;}

.sub06_s12 {overflow-x:hidden; background:#1f1c19;}
.sub06_s12 .content--feature {
	padding: 3rem;
	min-height: 90vh;
	display: flex;
	position: relative;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	min-height: 0;
}
.sub06_s12 .content__breakout {
	margin: 0 -3rem;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 200;
	font-style: italic;
	color:#332c28;
	font-family: 'Nanum Myeongjo', serif;
}

.sub06_s12 .content__breakout--big {font-size: 13vw;font-weight: 200;}
.sub06_s12 .content__breakout--medium {font-size: 5vw;}

.sub06_s12 .tiles {--tiles-height: 75vw;height: var(--tiles-height); position: relative;overflow: hidden;}

.sub06_s12 .tiles__wrap {
	width: 150%;
	--tileswrap-height: var(--tiles-height);
	height: var(--tileswrap-height);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%, 0);
}

.sub06_s12 .tiles__line {display: flex;}

.sub06_s12 .tiles__line-img {
	--tile-margin: 2vw;
	flex: none;
	width: calc(25% - var(--tile-margin) * 2);
	height: calc( var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
	margin: var(--tile-margin);
	background-size: cover;
	background-position: 50% 50%;
}

.sub06_s51 .sub_top h2 {font-weight:600; font-size:6.7vw; text-align:center; line-height:9.4vw; padding:2.7vw 0 6.7vw; letter-spacing:-0.08em;}
.cost_table table{
  border-top: 1px solid #9253a6;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  border-collapse: inherit;
}
.cost_table table thead {
  border-bottom: 1px solid #cccccc;
}
.cost_table table tr:last-child td {
  border-bottom: none;
}

.cost_table table th {
  font-size: 3.4vw;
  padding: 2.7vw 0;
  background: #34261d;
  color:#fff;
  font-weight: 400;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.cost_table table tbody tr td:last-child{border-right:none}
.cost_table table tbody tr{border-bottom: solid 1px #dedede}
.cost_table table td {
  text-align: center;
  padding: 2.7vw 1.4vw;
  color: #464646;
  font-size: 3.4vw;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  font-weight: 400
}
.cost_table table td span {color:#888888;}